# Copy to .env and fill values
PAYLOR_API_KEY=pk_4XN7vIIW7KH_3mSGkR8PUyHYxTXSI2pd
PAYLOR_CHANNEL_ID=PAYL-NMSSLF
PORT=3000
# Set allowed origin for CORS (frontend origin)
FRONTEND_ORIGIN=http://localhost:8080
PAYLOR_WEBHOOK_SECRET=cbf751686a736e454ebdf567400eef2413a44f4fc14065f5dab926df65fe1f2d
